//@import url(https://fonts.googleapis.com/css?family=Caveat+Brush&amp;subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Nunito:300,600|Caveat+Brush|Montserrat&amp;subset=latin-ext);

$brush: 'Caveat Brush', cursive;
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;