/* BEGIN COLORS */
$white: #FFF;
$black: #000;
$text: #23242c;
$red: #e31e25;
$aqua: #47d6e8;
$orange: #fcd63c;
$blue: #352d89;
$pink: #e947a5;
$navy: #271f71;
$facebook: #6d84b4;
$gray: #d6d6d6;
/* END COLORS */