/* BEGIN SITE-LOGO */
.site-logo {
  display: inline-block;
  margin: 0;
  font-size: 1px;
  margin-bottom: 10px;

  a {
    display: block;
    font-size: 0;
  }

  img {
    max-height: 52px;
    display: inline-block;
    vertical-align: top;

    @include tablet-xl-min {
      max-height: 60px;
    }

    @include desktop-lm-min {
      max-height: 65px;
    }
  }

  @include tablet-l-min {
    float: left;
    margin-bottom: 0;
    margin-top: 45px;
  }

  @include tablet-xl-min {
    margin-top: 55px;
  }

  @include desktop-sm-min {
    margin-top: 35px;
  }

  @include desktop-lm-min {
    margin-top: 35px;
  }

  @include desktop-ls-min {
    margin-top: 20px;
  }
}
/* END SITE-LOGO */