/* BEGIN SECTION--CONTACT */
.section--contact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    max-width: 330px;
    margin: 0 auto;
    display: block;

    @include phone-m-min {
      max-width: 390px;
    }

    @include phone-l-min {
      max-width: 470px;
    }

    @include phone-xl-min {
      max-width: 580px;
      padding-left: 0;
      padding-right: 0;
    }

    @include tablet-sm-min {
      max-width: 710px;
    }

    @include tablet-l-min {
      max-width: 930px;
    }

    @include tablet-xl-min {
      max-width: 100%;
      padding: 75px 40px;
    }

    @include desktop-s-min {
      padding: 100px 145px;
    }

    @include desktop-m-min {
      padding: 100px 160px;
    }

    @include desktop-l-min {
      margin: auto;
      max-width: 1170px;
      padding: 125px 0;
    }
  }

  @include tablet-sm-min {
    .col-6 {
      display: block;
      width: 50%;
      float: left;

      &:last-child {
        margin-top: 30px;
      }
    }
  }
}
/* END SECTION--CONTACT */