/* BEGIN SECTION--PROMO */
.section--promo {
  background: #352d89; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #352d89 1%, #271f71 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #352d89 1%,#271f71 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #352d89 1%,#271f71 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352d89', endColorstr='#271f71',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  text-align: center;

  .section__subtitle {
    color: $aqua;
  }

  .section__title {
    color: $white;
  }
}
/* END SECTION--PROMO */