/* BEGIN GALLERY-FILTERS */
.gallery-filters {
  list-style-type: none;
  display: table;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &.active {

      .gallery-filters__text {
        color: $pink;
      }

      .dot {
        background-color: $red;
      }
    }
  }

  &__text {
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    display: inline-block;

    @include tablet-sm-min {
      font-size: 12px;
    }

    @include desktop-s-min {
      font-size: 13px;
    }
  }

  &__button {
    cursor: pointer;
    color: $black;
    background-color: $white;
    border-radius: 20px;
    border: 0;
    outline: 0;
    padding: 8px 15px;

    @include tablet-sm-min {
      padding: 8px 20px;
    }

    .dot {
      width: 8px;
      height: 8px;
      background-color: #e9ebef;
      border-radius: 100%;
      display: inline-block;
      margin-right: 5px;
    }

    &:hover {
      color: $red;
    }
  }
}
/* END GALLERY-FILTERS */