/* BEGIN TOP-PANEL */
.top-panel {
  border-bottom: 1px solid #ddd;
  text-align: center;
  transition: all 0.4s ease-in-out;
  z-index: 999;

  @include tablet-l-min {
    text-align: right;
  }

  .container {
    padding: 20px;
    max-width: 100%;
  }

  &.fixed {
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.95);
    z-index: 9999;
    width: 100%;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
/* END TOP-PANEL */